@charset "utf-8";
/* デフォルト */
body{
    color: #333;
    font-size:16px;
    margin: 0;
    padding: 0;
    letter-spacing: .1em;
    font-family:"メイリオ",Helvetica,"MSゴシック";
}
a{
    text-decoration: none;
    color: #333;
}
ul{
    list-style-type: none;
    gap: 20px;
}
li{
    list-style-type: none;
}
p{
    margin: 0;
}
img{
    width: 100%;
}
.inner{
    width: 88.4%;
    max-width: 414px;
    margin: auto;
}
/* header */
header{
    margin-bottom: 80px;
}
.header-box{
    display:flex;
    align-items: center;
}
.header-contents{
    background-color: #dddddd;
       width: 100%;
    position: fixed;
    top: 0;
}
.PCnav{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content:space-between;
}
.shopbtn{
    display: none;
}
/* item */
.listname{
    font-size: 1rem;
    margin:0.625em 0 ;
}

main>h2{
    text-align: center;
    padding-top: 80px;
}
.list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.list_text{
    font-size: 0.875rem;
    margin: 0;
    padding-left:0.63em ;
}
.list_state{
    font-size: 0.875rem;
    color:rgb(253, 140, 140);
    margin: 0;
    padding-left:0.63em ;
}
.contents{
    width: 40%;
    margin-bottom:1.875em ;
}
/* btn */
button{
    display: inline-block;
    border: none;
    padding:20px 40px;
    background-color: #e6c078;
    color: #fff;
    border-radius: 30px;
}
button:hover {
    opacity: .9
  }
.btn{
    text-align: center;
}

.hidden {
    display: none;
    opacity: 0;
  }
@keyframes fadeIn {
    0% {
      transform: translateY(20px);
      opacity: 0;
    }
    100% {
       transform: translateY(0);
      opacity: 1;
    }
  }
/* footer */

footer{
    margin-top: 80px;
    background-color:#dddddd; ;
    padding:1.9em 0;
    text-align: center;
}

small{
    margin: 0 auto;
}
h4{
    font-size: 20px;
    font-weight: normal;
    margin: 0;
    margin-bottom: 1em;
}
footer p{
    font-size: 12px;
    margin-bottom: .5em;
}
.iconbox img{
    width: 5%;
    padding: 0 3% ;
    margin-bottom: 1em;
}
/* goods */
.contentbox{
    padding-top: 80px;
}
.smallimgs ul{
    display: flex;
    padding: 0;
    justify-content: space-between;
}
.smallimgs li{
    width: 30%;
}
input{
    width:20px;
}
.goods_name{
    font-size: 1.5em;
}
.goods_price{
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.8em;
}
.goods_text{
    font-size: 0.8em;
    margin: 0;
    letter-spacing: .2em;
}
.goods_maker{
    font-size: 0.8em;
    margin: 0;
    
}
.goods_count{
    font-size: 0.8em;
    margin-bottom: 2em;
    letter-spacing: .2em;
}
.textbox{
    margin-top: 1em;
}
.link{
    display: inline-block;
    margin-bottom: 2em;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
}
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#ddd;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    background-color: #ddd;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
}

#g-nav li a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
@media screen and (min-width: 700px){
    .contents{
        width: 30%;
        margin-bottom:1.875em ;
    }
    .list{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    .inner{
        width: 88.4%;
        max-width: 1280px;
        margin: auto;
    }
    .shopbtn{
        display: block;
        width: 12%;
        background-color:#e6c078;
    }
    .shopbtn img{
        padding:1em;
        width: 60%;
    }
    .contentbox{
    margin-top:80px ;
}
.imgbox{
    width: 30%;
}
.itembox{
    width: 50%;
}
.contentbox{
    display: flex;
    justify-content: space-around;
}
.goods_name{
    font-size: 1.5em;
}
.goods_price{
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.8em;
}
.goods_text{
    font-size: 0.9em;
    margin: 0;
    letter-spacing: .2em;
}
.goods_count{
 margin-bottom: 30px;
}
.link{
   
    padding: 15px 30px;
    background-color: #42d1f5;
    color: #fff;
    border-radius: 20px;
}
.gnav{
    display: none;
}
.iconbox img{
    width: 3%;
}
}
