@charset "utf-8";
body{
    color: #333;
    font-size:16px;
    margin: 0;
    padding: 0;
}
header{
    margin-bottom: 80px;
}
a{
    text-decoration: none;
    color: #333;
}
li{
    list-style-type: none;
}
p{
    margin: 0;
}
.inner{
    width: 88.4%;
    max-width: 414px;
    margin: auto;
}
.listname{
    font-size:1.25rem ;
    text-align: center;
    margin-bottom:1.875em ;
}
.listname{
    font-size: 1rem;
    margin:0.625em 0 ;
}
main>h2{
    text-align: center;
}
.btn>h4{
    display: inline-block;
    padding:20px 40px;
    background-color: #e6c078;
    color: #fff;
    border-radius: 30px;
}
.btn{
    text-align: center;
}
.list{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
}

.list_text{
    font-size: 0.875rem;
    margin: 0;
    padding-left:0.63em ;
}
.contents{
    width: 40%;
    margin-bottom:1.875em ;
}
ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.header-flex{
    display: flex;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    background-color: #42d1f5;
}
footer{
    margin-top: 80px;
    background-color:#42d1f5 ;
    padding:1.9em 0;
    text-align: center;
}
img{
    width: 100%;
}

small{
    margin: 0 auto;
}
.iconbox img{
    width: 5%;
}
/* goods */
.goods_name{
    font-size: 1.5em;
}
.goods_price{
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.8em;
}
.goods_text{
    font-size: 0.8em;
    margin: 0;
    letter-spacing: .2em;
}
.goods_maker{
    font-size: 0.8em;
    margin-bottom: 2em;
}
.textbox{
    margin-top: 1em;
}
.link{
    display: inline-block;
    margin-bottom: 2em;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    border-radius: 20px;
}
/*========= ナビゲーションのためのCSS ===============*/

#g-nav{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
    /*ナビのスタート位置と形状*/
	top:0;
    right: -120%;
	width:100%;
    height: 100vh;/*ナビの高さ*/
	background:#42d1f5;
    /*動き*/
	transition: all 0.6s;
}

/*アクティブクラスがついたら位置を0に*/
#g-nav.panelactive{
    right: 0;
}
/*ナビゲーションの縦スクロール*/
#g-nav.panelactive #g-nav-list{
    /*ナビの数が増えた場合縦スクロール*/
    background-color: #42d1f5;
    position: fixed;
    z-index: 999; 
    width: 100%;
    height: 100vh;/*表示する高さ*/
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

/*ナビゲーション*/
#g-nav ul {
    /*ナビゲーション天地中央揃え*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*リストのレイアウト設定*/

#g-nav li{
	list-style: none;
    text-align: center;
}

#g-nav li a{
	color: #fff;
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
    z-index: 9999;/*ボタンを最前面に*/
	top:10px;
	right: 10px;
	cursor: pointer;
    width: 50px;
    height:50px;
}
	
/*×に変化*/	
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: #fff;
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
@media screen and (min-width: 700px){
    .contents{
        width: 30%;
        margin-bottom:1.875em ;
    }
    .list{
        display: flex;
        flex-wrap:wrap;
        justify-content: space-around;
    }
    .inner{
        width: 88.4%;
        max-width: 1280px;
        margin: auto;
    }
    .contentbox{
    margin-top:80px ;
}
.imgbox{
    width: 30%;
}
.itembox{
    width: 50%;
}
.contentbox{
    display: flex;
    justify-content: space-around;
}
.goods_name{
    font-size: 1.5em;
}
.goods_price{
    font-size: 1em;
    margin: 0;
    margin-bottom: 0.8em;
}
.goods_text{
    font-size: 0.9em;
    margin: 0;
    letter-spacing: .2em;
}
.goods_maker{
 margin-bottom: 30px;
}
.link{
   
    padding: 15px 30px;
    background-color: #42d1f5;
    color: #fff;
    border-radius: 20px;
}
.gnav{
    display: none;
}
}
