---
title: kiishop
layout: layout.njk
csspath: ./css/
---

<header>
    <div class="header-flex">
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
    </div>
</header>
<main class="inner">
    <h2>item</h2>
    <div class="list">
                {% for contents in goodslist %}
                <section class="contents">
                <a href="./goodslist/{{ contents.url }}">
                    <img src="./img/{{ contents.img[0] }}" alt="imagelist">
                    <h3 class="listname">{{ contents.name }}</h3>
                    <p class="list_text">{{ contents.price}}</p>
                    <p class="list_text">{{ contents.state}}</p>
                </a>
                </section>
                {% endfor %}
    </div>
    <h4>MORE</h4>
    <footer>
        <div class="iconbox">
            <a href="#"><img src="" alt="instagram"></a>
            <a href="#"><img src="" alt="twitter"></a>
            <a href="#"><img src="" alt="facebook"></a>
        </div>
        <small>copyrightMyshop2022</small>
    </footer>

    
</main>

