---
title: kiishop
layout: layout.njk
csspath: ./css/
---

<header>
    <div class="header-flex">
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="./index.html">home</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <h2>item</h2>
    <div class="list">
                {% for contents in goodslist %}
                <section class="contents">
                <a href="../goodslist/{{ contents.url }}">
                    <img src="{{ contents.img}}" alt="image">
                    <h3>{{ contents.name }}</h3>
                    <p>{{ contents.price}}</p>
                    <p>{{ contents.state}}</p>
                </a>
                </section>
                {% endfor %}
    </div>
    <h4>MORE</h4>
    <small>copyrightMyshop2022</small>
</main>

