---
title: kiishop
layout: layout.njk
csspath: ./css/
---

<header>
    <div class="header-flex inner">
        <h1>{{ title }}</h1>
        <nav>
            <ul>
                <li><a href="../../index.html">home</a></li>
            </ul>
        </nav>
        <div class="gnav">
            <div class="openbtn"><span></span><span></span><span></span></div>
        <nav id="g-nav">
        <div id="g-nav-list">
        <ul>
        <li><a href="#">Top</a></li> 
        <li><a href="#">About</a></li> 
        <li><a href="#">Service</a></li> 
        <li><a href="#">Contact</a></li> 
        </ul>
        </div>
        </nav>
        </div>
        
    </div>
</header>
<main class="inner">
    <h2>item</h2>
    <div class="list">
                {% for contents in goodslist %}
                <section class="contents">
                <a href="./goodslist/{{ contents.url }}">
                    <img src="./img/{{ contents.img[0] }}" alt="imagelist">
                    <h3 class="listname">{{ contents.name }}</h3>
                    <p class="list_text">{{ contents.price}}</p>
                    <p class="list_text">{{ contents.state}}</p>
                </a>
                </section>
                {% endfor %}
    </div>
    <div class="btn">
        <h4>もっと見る</h4>
    </div>
    
    </main>
    <footer>
        <div class="iconbox">
            <a href="#"><img src="./img/instagram.png" alt="instagram"></a>
            <a href="#"><img src="./img/Twitterpng.png" alt="twitter"></a>
        </div>
        <small>copyrightMyshop2022</small>
    </footer>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="./js/java.js"></script>
    


